<div> 
  <nav class="navbar navbar-light bg-primary justify-content-between text-light">
    <%= link_to( raw("<i class='fas fa-arrow-left'></i>"), root_path, class:'btn btn-primary ' )%>
    <h2> REGISTER</h2>
    <%= link_to "Next", new_user_session_path, class:'btn btn-primary me-2'%>

  </nav>

  <div class ="border-end border-start me-1 ms-1 pt-3" style="height: 90vh;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.text_field :name, autofocus: true, autocomplete: "full name", placeholder: "Full name" %>
      </div>

      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="d-grid mb-1 pe-1 ps-1">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" , placeholder: "Password"  %>
      </div>

      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password_confirmation" %>
      </div>

      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.submit "Sign up", class:"btn btn-primary" %>
      </div>
    <% end %>


    <div class="d-grid text-center pe-1 ps-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>