<div class="border-end border-start me-1 ms-1 pt-3" style="height: 100vh;">
  <%= form_with(model: group) do |form| %>
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class ="d-grid mb-1 pe-1 ps-1" >
      <%= form.text_field :name , placeholder: "Category name" %>
    </div>

    <div class ="d-grid mb-1 pe-1 ps-1" >
      <%= form.url_field :icon, placeholder: "Category icon" %>
    </div>

    <div class ="d-grid mb-1 pe-1 ps-1" >
      <%= form.submit class:'btn btn-primary'%>
    </div>
  <% end %>
<div>