<div> 
  <nav class="navbar navbar-light bg-primary justify-content-between text-light">
    <%= link_to( raw("<i class='fas fa-arrow-left'></i>"),root_path, class:'btn btn-primary ' )%>
    <h2>LOGIN</h2>
    <%= link_to( raw("<i class='fa-sharp fa-solid fa-registered'></i>"), new_user_registration_path, class:"btn btn-primary me-2") %>
  </nav>

  <div class ="border-end border-start me-1 ms-1 pt-3" style="height: 100vh;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="d-grid mb-1 pe-1 ps-1">
        <%= f.submit "Log in", class:'btn btn-primary' %>
      </div>
    <% end %>

    <div class="d-grid m-1 pe-1 ps-1 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>